@functions{
    private static string WargamingAPI = 
"https://api.worldoftanks.eu/wot/globalwar/provinces/?application_id=a1dfd7ca8e1527cfbcd2d2cae3c21072&map_id=2";

    public class ProvinceList
    {
        public string status;
        public int count;
        public Dictionary<string, Province> data;
    }
    
    public class Province
    {
        public string status { get; set; }
        public List<string> neighbors { get; set; }
        public string province_i18n { get; set; }
        public int revenue { get; set; }
        public int vehicle_max_level { get; set; }
        public string arena { get; set; }
        public Dictionary<string, Region> regions { get; set; }
        public int? clan_id { get; set; }
        public string primary_region { get; set; }
        public string province_id { get; set; }
        public int prime_time { get; set; }
    }

    public class Region
    {
        public string region_i18n { get; set; }
        public string region_id { get; set; }
    }

    public ProvinceList GetProvinceList()
    {
        System.Net.WebClient webClient = new System.Net.WebClient();
        var jsonText = webClient.DownloadString(WargamingAPI);

        var list = Json.Decode<ProvinceList>(jsonText);
        ProvinceList newList = new ProvinceList();
        newList.data = new Dictionary<string, Province>();

        foreach(var province in list.data)
        {
           if (!Request.QueryString["goldvalue"].IsEmpty() && province.Value.revenue < Request.QueryString["goldvalue"].AsInt()) {continue;}
           if (!Request.QueryString["starttime"].IsEmpty() && province.Value.prime_time < Request.QueryString["starttime"].AsInt()) {continue;}
           if (!Request.QueryString["provinceStatus"].IsEmpty() && !Request.QueryString["provinceStatus"].Split(',').Contains(province.Value.status)) {continue;}



           province.Value.arena = GetMapName(province.Value.arena);

           newList.data.Add(province.Key, province.Value);
        }

        return newList;
    }

    public static string GetMapName(string serverName)
    {
        return "";
    }

    public static Dictionary<int, string> GetClanNames(ProvinceList provinces)
    {
        return new Dictionary<int, string>();
    }

    public bool StatusSelected(string status)
    {
       if (Request.QueryString["provinceStatus"].IsEmpty()) return false;
       return Request.QueryString["provinceStatus"].Split(',').Contains(status);
    }
}

@{
    ProvinceList provinceList = GetProvinceList();

    int count = 0;

    if (IsPost)
    {
        count++;
    }
}


<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Province Target</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>

        <form method="get">
            <div>
                Start Time: 
                <select name="starttime">
                    @{
                        for (int i=16; i<20;++i)
                        {
                            if (@Request.QueryString["starttime"].AsInt() == i)
                            {
                                <option value=@i selected>@i+</option>
                            }
                            else
                            {
                                <option value=@i>@i+</option>
                            }
                        }
                    }
                </select>
                <p>
                Minimum Gold Value: 
                <input name="goldvalue" value="@Request.QueryString["goldvalue"]"></input>
                <p>
                Province Status: <br>
                @Html.CheckBox("provinceStatus", StatusSelected("start"), new Dictionary<string, object>{{"value", "start"}}) Landing <br>
                @Html.CheckBox("provinceStatus", StatusSelected("mutiny"), new Dictionary<string, object>{{"value", "mutiny"}}) Revolt <br>
                @Html.CheckBox("provinceStatus", StatusSelected("delayed_mutiny"), new Dictionary<string, object>{{"value", "delayed_mutiny"}}) Delayed Revolt <p>
                    
                <input type="submit" value="Submit" /></p>
            </div>
        </form>

        <table style="width:600px;text-align:center">
            <tr>
              <th>Name</th>
              <th>Map</th> 
              <th>Start Time</th>
              <th>Max Tier</th>
              <th>Gold Value</th>
              <th>Current Holder</th>
              <th>Status</th>
            </tr>
                @{
                    foreach (var province in provinceList.data.Values)
                    {
                    <tr>
                      <td><a href="http://worldoftanks.eu/clanwars/maps/globalmap/?province=@province.province_id">@province.province_i18n</a></td>
                      <td>@province.arena</td> 
                      <td>@province.prime_time</td>
                      <td>@province.vehicle_max_level</td>
                      <td>@province.revenue</td>
                      <td><a href="http://wotcs.com/clan.php?wid=@province.clan_id">click</a></td>
                      <td>@province.status</td>
                    </tr>
                    }
                }
        </table>
    </body>
</html>
